{% extends "index/base.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}


{% if request.META.HTTP_REFERER != None %}
    <div class="container-sm text-center mt-5 d-flex justify-content-center flex-column p-0" style="height: 100% !important; margin-top: 10% !important;">
        <h1 class = "m-sm-5 my-5 display-5" style="color: aliceblue;">Password Reset Email sent</h1>
        <div class="container h-100 align-self-center p-3 justify-content-center" style="background-color: aliceblue;">
            <p style="color: #517981;">Your password has been set. You may go ahead and log in now.</p>
            <p style="color: #517981;">Redirecting in <span id="countdown">5</span> ...</p>
            <div class="d-flex justify-content-center form_container">
            
            <meta http-equiv="refresh" content="5; url='{% url 'index:login' %}'" />
            <div class="">
                <a href={% url 'index:login' %} class="btn btn-outline-success me-2" type="button">Login</a>
            </div>
        </div>
        
    </div>
{% else %}
    <meta http-equiv="refresh" content="0; url='{% url 'password_reset' %}'" />
{% endif %}

<script>
    var seconds = document.getElementById("countdown").textContent;
    var countdown = setInterval(function() {
        seconds--;
        document.getElementById("countdown").textContent = seconds;
        if (seconds <= 0) clearInterval(countdown);
    }, 1000);
</script>
{% endblock %}

