{% extends "index/base.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}

{% if form %}
    <div class="container-xs text-center d-flex justify-content-center flex-column p-0 mt-5" style="height: 100% !important;">
        <h1 class = "m-xs-5 display-4" style="color: aliceblue; margin-top: 10%;">Reset Password</h1>
        <div class="cont h-100 align-self-center p-3 justify-content-center" style="background-color: aliceblue;">
            <p class="display-6 resp-h" style="color: #7abecc;">Enter new password</p>
            <p class = "resp-p" style="color: #5794a0;">Please enter your new password twice so we can verify you typed it in correctly.</p>
            <div class="mt-5">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-4">
                        <span class="input-group-text"><i class="fas fa-lock" style="height: 100%;"></i></span>
                        {{ form.new_password1 }}
                    </div>
                    <div class="input-group mb-4">
                        <span class="input-group-text"><i class="fas fa-lock" style="height: 100%;"></i></span>
                        {{ form.new_password2 }}
                    </div>
                    {{ form.new_password2.errors }}
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn login_btn" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div> 
    </div>
{% else %}
    <meta http-equiv="refresh" content="0; url='{% url 'reset_password' %}'" />
{% endif %}


<script>
    var form_fields = document.getElementsByTagName('input');
    
    form_fields[1].placeholder='{{ form.new_password1.label }}';
    form_fields[2].placeholder='{{ form.new_password2.label }}';

    for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
    var errors = document.getElementsByClassName('errorlist');
    errors[0].className += " text-start resp-p"
</script>

{% endblock %}

