{% extends "index/base.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}


{% if request.META.HTTP_REFERER != None %}
    <div class="container-sm text-center mt-5 d-flex justify-content-center flex-column p-0" style="height: 100% !important; margin-top: 10% !important;">
        <h1 class = "m-sm-5 my-5 display-5" style="color: aliceblue;">Password Reset Email sent</h1>
        <div class="container h-100 align-self-center p-3 justify-content-center" style="background-color: aliceblue;">
            <p style="color: #5794a0;">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p style="color: #5794a0;">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            <div class="mt-5">
                
            </div>
        </div>
        
    </div>
{% else %}
    <meta http-equiv="refresh" content="0; url='{% url 'password_reset' %}'" />
{% endif %}

{% endblock %}

